<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Cálculo de Notas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script> 
    <div class="container">
        <h1>Resultados del Cálculo de Notas</h1>
        <div class="card mt-4">
            <div class="card-body">
                <h5>Datos Ingresados:</h5>
                <p><strong>Nota1:</strong> {{ nota1 }} 15%</p>
                <p><strong>Nota2:</strong> {{ nota2 }} 20%</p>
                <p><strong>Nota3:</strong> {{ nota3 }} 25%</p>
                <p><strong>Nota Total a Obtener:</strong> {{ notaTotal }} 100%</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h4><strong>Resultado de la Nota4 Calculada:</strong> {{ nota4 }} 40%</h4>
                <h4><strong>Se considera lo siguiente: </strong> La nota4 debe ser {{ estado }} para tener una nota total de {{ notaTotal }} </h4>
            </div>
        </div>
        <a href="/" class="btn btn-primary mt-3">Volver al Inicio</a>
    </div>
</body>
</html>
